In [20]:
import pandas as pd

In [21]:
df = pd.read_csv("samples/Reports_100_samples.csv")

In [22]:
df.columns

Index(['CreatedById', 'CreatedDate', 'Description', 'DeveloperName',
       'FolderName', 'Format', 'Id', 'IsDeleted', 'LastModifiedById',
       'LastModifiedDate', 'LastReferencedDate', 'LastRunDate',
       'LastViewedDate', 'Name', 'NamespacePrefix', 'OwnerId',
       'ReportTypeApiName', 'SystemModstamp'],
      dtype='object')

In [23]:
list(df.columns)

['CreatedById',
 'CreatedDate',
 'Description',
 'DeveloperName',
 'FolderName',
 'Format',
 'Id',
 'IsDeleted',
 'LastModifiedById',
 'LastModifiedDate',
 'LastReferencedDate',
 'LastRunDate',
 'LastViewedDate',
 'Name',
 'NamespacePrefix',
 'OwnerId',
 'ReportTypeApiName',
 'SystemModstamp']

In [24]:
df.shape # (rows, columns)

(100, 18)

### Sorting reports by `LastRunDate`

In [33]:
df.sort_values(by='LastRunDate', ascending=False, inplace=True)

In [34]:
df.head(3) # the most recent 3 in this sample

,CreatedById,CreatedDate,Description,DeveloperName,FolderName,Format,Id,IsDeleted,LastModifiedById,LastModifiedDate,LastReferencedDate,LastRunDate,LastViewedDate,Name,NamespacePrefix,OwnerId,ReportTypeApiName,SystemModstamp
0,0050b000004MLGeAAO,2018-06-20T19:28:03.000Z,NaN,Email2Case_KPI_Wp9,Public Reports,Summary,00O0b000004kSKkEAM,False,0050b000004MLGeAAO,2019-10-16T03:00:16.000Z,2022-06-20T02:04:59.000Z,2022-06-20T02:04:59.000Z,2022-06-20T02:04:59.000Z,Email2Case KPI,NaN,00D0b000000GaMpEAK,CaseList@Case.MaritzCX__Survey_Response_Id__c,2022-06-20T02:04:59.000Z
5,0050b000004dgkKAAQ,2017-08-15T17:20:40.000Z,What documents are in the document library?,SampleReportDocumentLibrary,Public Reports,Summary,00O0b000004RmskEAC,False,0050b000004dgkKAAQ,2017-08-15T17:20:40.000Z,2022-06-19T17:40:18.000Z,2022-06-19T17:40:18.000Z,2022-06-19T17:40:18.000Z,Sample Report: Document Library,NaN,00D0b000000GaMpEAK,DocumentList,2022-06-19T17:40:18.000Z
94,0050b000004KTsmAAG,2021-09-28T20:59:53.000Z,Shows unearned milestones forecasted within cu...,NorthEast_PDM_1_1_Quarter_Forecast_To_Go,Public Reports,Summary,00O2R000003JWlyUAG,False,0050b000004KTsmAAG,2021-09-28T21:26:20.000Z,NaN,2022-06-19T13:00:02.000Z,NaN,NorthEast PDM 1:1 Quarter Forecast To Go,NaN,00D0b000000GaMpEAK,Projects_with_MilestoneOrder_and_Order_Product__c,2022-06-19T13:00:02.000Z

In [35]:
df.tail(3) # the oldest 3 in this sample

,CreatedById,CreatedDate,Description,DeveloperName,FolderName,Format,Id,IsDeleted,LastModifiedById,LastModifiedDate,LastReferencedDate,LastRunDate,LastViewedDate,Name,NamespacePrefix,OwnerId,ReportTypeApiName,SystemModstamp
51,0050b000004K5i0AAC,2018-11-11T03:50:24.000Z,NaN,PSA_Reconciliation_Report,Public Reports,Tabular,00O0b000004kkfpEAA,False,0050b000004K5i0AAC,2018-11-11T03:50:24.000Z,NaN,2019-01-29T03:27:34.000Z,NaN,Reconciliation Report,NaN,00D0b000000GaMpEAK,psa_projects_with_orders__c,2019-01-29T03:27:34.000Z
42,0050b000004K5i0AAC,2018-11-11T03:50:22.000Z,NaN,Orders_without_Projects_by_Account,Public Reports,Summary,00O0b000004kkffEAA,False,0050b000004K5i0AAC,2018-11-11T03:50:22.000Z,NaN,2018-12-18T18:01:11.000Z,NaN,Orders without Projects by Account,NaN,00D0b000000GaMpEAK,Orders_without_Products__c,2018-12-18T18:01:11.000Z
13,0050b000004dgkKAAQ,2017-08-15T17:20:40.000Z,What pipeline do I have by close month?,SampleReportPipelineByCloseMonth,Public Reports,Matrix,00O0b000004VYLhEAO,False,0050b000004dgkKAAQ,2017-08-15T17:20:40.000Z,NaN,2018-10-06T17:47:47.000Z,NaN,Sample Report: Pipeline By Close Month,NaN,00D0b000000GaMpEAK,Opportunity,2018-10-06T17:47:47.000Z

### Run count per date

Using `values_counts()`

In [36]:
df["LastRunDate"].value_counts()

2022-06-19T13:00:02.000Z    2
2022-05-10T16:11:09.000Z    1
2022-06-20T02:04:59.000Z    1
2022-06-06T14:52:44.000Z    1
2021-07-12T11:23:45.000Z    1
                           ..
2020-10-01T23:23:14.000Z    1
2022-05-17T22:00:02.000Z    1
2022-02-15T14:14:58.000Z    1
2021-03-11T20:10:27.000Z    1
2020-12-21T16:59:51.000Z    1
Name: LastRunDate, Length: 99, dtype: int64

Grouping by `LastRunDate` column.

In [60]:
df[['Id', 'LastRunDate']]\
    .groupby('LastRunDate')\
    .agg('count')\
    .rename(columns={'Id':'RunCount'})

                          RunCount
LastRunDate
2018-10-06T17:47:47.000Z         1
2018-12-18T18:01:11.000Z         1
2019-01-29T03:27:34.000Z         1
2019-05-08T21:56:01.000Z         1
2019-06-06T15:20:43.000Z         1
...                            ...
2022-06-16T12:19:17.000Z         1
2022-06-17T15:17:43.000Z         1
2022-06-19T13:00:02.000Z         2
2022-06-19T17:40:18.000Z         1
2022-06-20T02:04:59.000Z         1

[99 rows x 1 columns]